<footer class="footer" id="footer">
<h3>Feel free to contact me</h3>
    <ul>
    <li>Via Email: <a href="mailto:hajhassan.ali@outlook.com" target="_blank">hajhassan.ali@outlook.com</a></li>
    <li>Via LinkedIn: <a href="https://www.linkedin.com/in/alhajhassanali/"><i class="fa-brands fa-linkedin"></i></a></li>
    <li>Via Phone: <a href="tel:+33762870779" target="_blank">07 62 87 07 79</a></li>
    </ul>

    <h4 class="message-red">A complete contact form soon</h4>

</footer>