<%- include('../index.ejs') %>

<header class="header">

    <nav>
        <ul>
            <li>
                <a href="#projects">Projects</a>
            </li>
            <li><a href="#about-me">About me</a>

            </li>
            <li class="coming-soon">
                <a href="" >Try my game!</a>
            </li>
        </ul>


    </nav>

    <h2>Ali Al Haj Hassan</h2>

    <ul class="social-network">
        <li><a href="https://www.linkedin.com/in/alhajhassanali/"><i class="fa-brands fa-linkedin"></i></a></li>
        <li><a href="https://github.com/Alihh961"><i class="fa-brands fa-square-github"></i></a></li>

    </ul>
</header>