<%- include('../index.ejs') %>

<header class="header">

    <nav>
        <ul>
            <li>
                Projects
            </li>
            <li>
                Education
            </li>
            <li>
                Try my game!
            </li>
        </ul>


    </nav>

    <h2>Ali Al Haj Hassan</h2>

    <ul class="social-network"></ul>
</header>