<head>
    <title>404</title>
</head>
<%- include('./partials/header.ejs') %>

<section class="notFound-section">
    <div class="container">
        <div class="emoji">😱</div>
        <h1 class="animation">404</h1>
        <p>Oops! The page you're looking for could not be found.</p>
        <p>Return to <a href="/">home</a>.</p>
    </div>
</section>


<%- include('./partials/footer.ejs') %>
