<head>

    <title>Home</title>

</head>

<%- include('./partials/header.ejs') %>


<section class="welcome-section" id="welcome-section">
    <div id="stars"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div id="title">
        <span>Hello!</span><br>
        <span>Welcome to my portfolio</span>
    </div>


    <div class="container-arrow">

        <div class="arrow">        </div>
        <p class="go-paragraph">Go!</p>
    </div>
</section>

<section class="projects-section">

</section>
