@font-face {
  font-family: "latoLight";
  src: url("../../fonts/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: "latoRegular";
  src: url("../../fonts/Lato-Regular.ttf") format("truetype");
}
#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 881px 873px #FFF , 1588px 1616px #FFF , 560px 1931px #FFF , 552px 1541px #FFF , 587px 70px #FFF , 1668px 1865px #FFF , 1422px 489px #FFF , 1374px 790px #FFF , 373px 1423px #FFF , 1973px 1916px #FFF , 1932px 1096px #FFF , 1679px 239px #FFF , 573px 458px #FFF , 763px 706px #FFF , 472px 906px #FFF , 1615px 1003px #FFF , 1566px 649px #FFF , 1911px 1813px #FFF , 1835px 289px #FFF , 1110px 1688px #FFF , 965px 1656px #FFF , 1012px 826px #FFF , 1621px 1868px #FFF , 562px 113px #FFF , 1990px 1975px #FFF , 912px 289px #FFF , 1048px 1281px #FFF , 1272px 857px #FFF , 1353px 332px #FFF , 704px 1878px #FFF , 1407px 792px #FFF , 422px 900px #FFF , 1462px 1961px #FFF , 768px 1941px #FFF , 420px 1116px #FFF , 1042px 1375px #FFF , 1906px 109px #FFF , 1883px 1963px #FFF , 1539px 1071px #FFF , 248px 819px #FFF , 1539px 1099px #FFF , 615px 215px #FFF , 733px 1936px #FFF , 93px 866px #FFF , 336px 1101px #FFF , 1832px 1691px #FFF , 1683px 195px #FFF , 1874px 1942px #FFF , 1747px 1271px #FFF , 1918px 1570px #FFF , 39px 1813px #FFF , 1709px 1310px #FFF , 1220px 333px #FFF , 509px 1645px #FFF , 1223px 1664px #FFF , 885px 1218px #FFF , 971px 1955px #FFF , 1032px 973px #FFF , 1855px 1668px #FFF , 1065px 34px #FFF , 1736px 815px #FFF , 1538px 1558px #FFF , 431px 1772px #FFF , 1228px 716px #FFF , 1813px 1039px #FFF , 1508px 775px #FFF , 1229px 863px #FFF , 1938px 1369px #FFF , 402px 1377px #FFF , 1324px 199px #FFF , 353px 1165px #FFF , 1133px 1149px #FFF , 663px 1278px #FFF , 640px 831px #FFF , 1181px 1106px #FFF , 782px 1989px #FFF , 1784px 1587px #FFF , 30px 1912px #FFF , 41px 1412px #FFF , 1758px 1778px #FFF , 1539px 1944px #FFF , 48px 567px #FFF , 313px 2000px #FFF , 1541px 1699px #FFF , 1694px 1249px #FFF , 1064px 859px #FFF , 643px 793px #FFF , 1491px 92px #FFF , 1921px 752px #FFF , 1324px 1109px #FFF , 602px 1409px #FFF , 752px 1382px #FFF , 1942px 889px #FFF , 1662px 1209px #FFF , 762px 1894px #FFF , 1605px 1316px #FFF , 1924px 1463px #FFF , 283px 520px #FFF , 1970px 1916px #FFF , 1206px 1999px #FFF , 20px 1400px #FFF , 582px 435px #FFF , 519px 320px #FFF , 1625px 1674px #FFF , 1675px 350px #FFF , 1520px 348px #FFF , 1848px 696px #FFF , 1010px 1372px #FFF , 885px 1353px #FFF , 1477px 695px #FFF , 1144px 380px #FFF , 415px 779px #FFF , 171px 302px #FFF , 1121px 605px #FFF , 1730px 37px #FFF , 471px 1471px #FFF , 782px 1712px #FFF , 163px 1167px #FFF , 135px 1394px #FFF , 1056px 224px #FFF , 762px 724px #FFF , 182px 1436px #FFF , 22px 1576px #FFF , 372px 1314px #FFF , 1857px 1237px #FFF , 1804px 682px #FFF , 1580px 224px #FFF , 860px 1043px #FFF , 1802px 1290px #FFF , 1525px 1148px #FFF , 143px 336px #FFF , 288px 876px #FFF , 1430px 22px #FFF , 788px 1446px #FFF , 1649px 1157px #FFF , 957px 1134px #FFF , 33px 861px #FFF , 1177px 520px #FFF , 1012px 1811px #FFF , 273px 468px #FFF , 908px 368px #FFF , 1412px 1862px #FFF , 1165px 20px #FFF , 1264px 421px #FFF , 244px 1999px #FFF , 1846px 256px #FFF , 94px 229px #FFF , 329px 1445px #FFF , 1087px 512px #FFF , 959px 1060px #FFF , 1070px 1091px #FFF , 903px 670px #FFF , 276px 344px #FFF , 1611px 1466px #FFF , 1694px 1938px #FFF , 1755px 1885px #FFF , 317px 1971px #FFF , 967px 604px #FFF , 71px 470px #FFF , 840px 1575px #FFF , 1952px 892px #FFF , 145px 1532px #FFF , 1235px 666px #FFF , 1906px 1800px #FFF , 593px 1400px #FFF , 882px 22px #FFF , 1666px 1804px #FFF , 1148px 894px #FFF , 844px 1227px #FFF , 1509px 59px #FFF , 227px 860px #FFF , 409px 1957px #FFF , 743px 294px #FFF , 77px 1368px #FFF , 834px 1644px #FFF , 1527px 1574px #FFF , 1625px 1186px #FFF , 146px 1087px #FFF , 1071px 967px #FFF , 1690px 283px #FFF , 96px 1018px #FFF , 2000px 593px #FFF , 764px 782px #FFF , 1313px 1426px #FFF , 1129px 714px #FFF , 1741px 1486px #FFF , 1072px 667px #FFF , 1277px 858px #FFF , 1687px 1214px #FFF , 852px 1095px #FFF , 109px 384px #FFF , 231px 237px #FFF , 172px 502px #FFF , 171px 230px #FFF , 155px 1959px #FFF , 624px 1345px #FFF , 1227px 435px #FFF , 936px 1824px #FFF , 1110px 955px #FFF , 62px 1105px #FFF , 70px 1354px #FFF , 988px 1005px #FFF , 1536px 845px #FFF , 1738px 963px #FFF , 368px 980px #FFF , 574px 1742px #FFF , 960px 1303px #FFF , 359px 1688px #FFF , 1815px 1381px #FFF , 1979px 1382px #FFF , 1687px 1644px #FFF , 369px 473px #FFF , 1707px 1610px #FFF , 484px 1893px #FFF , 1378px 486px #FFF , 484px 1116px #FFF , 906px 160px #FFF , 1238px 491px #FFF , 890px 1966px #FFF , 1571px 1110px #FFF , 571px 1236px #FFF , 1024px 1877px #FFF , 246px 1590px #FFF , 1246px 752px #FFF , 1741px 1895px #FFF , 1239px 1870px #FFF , 1940px 147px #FFF , 1242px 392px #FFF , 1739px 792px #FFF , 824px 1304px #FFF , 77px 503px #FFF , 1009px 1958px #FFF , 264px 1373px #FFF , 1428px 1981px #FFF , 1022px 497px #FFF , 1312px 646px #FFF , 1246px 351px #FFF , 1303px 1865px #FFF , 72px 219px #FFF , 1713px 467px #FFF , 1799px 346px #FFF , 457px 577px #FFF , 1880px 1961px #FFF , 1987px 1686px #FFF , 160px 1083px #FFF , 1016px 1412px #FFF , 800px 800px #FFF , 1629px 1373px #FFF , 909px 1040px #FFF , 286px 1239px #FFF , 245px 1993px #FFF , 1325px 105px #FFF , 1343px 647px #FFF , 119px 1443px #FFF , 286px 1277px #FFF , 1107px 117px #FFF , 563px 669px #FFF , 972px 285px #FFF , 790px 705px #FFF , 324px 404px #FFF , 734px 695px #FFF , 1486px 780px #FFF , 229px 1206px #FFF , 1020px 856px #FFF , 32px 62px #FFF , 1803px 1307px #FFF , 1072px 524px #FFF , 104px 547px #FFF , 794px 1395px #FFF , 796px 1232px #FFF , 1043px 280px #FFF , 1429px 1389px #FFF , 1769px 778px #FFF , 1722px 1707px #FFF , 1172px 1206px #FFF , 702px 297px #FFF , 2px 1876px #FFF , 140px 828px #FFF , 1856px 415px #FFF , 1213px 1945px #FFF , 1333px 968px #FFF , 953px 851px #FFF , 1926px 1958px #FFF , 1377px 604px #FFF , 614px 1148px #FFF , 1903px 1079px #FFF , 1580px 501px #FFF , 983px 61px #FFF , 1619px 407px #FFF , 1033px 1442px #FFF , 1461px 923px #FFF , 1288px 993px #FFF , 589px 1779px #FFF , 564px 1938px #FFF , 149px 1195px #FFF , 1730px 715px #FFF , 216px 1308px #FFF , 1106px 1887px #FFF , 1897px 1336px #FFF , 1606px 156px #FFF , 827px 129px #FFF , 1265px 1112px #FFF , 1614px 541px #FFF , 734px 215px #FFF , 838px 1564px #FFF , 976px 661px #FFF , 815px 567px #FFF , 762px 212px #FFF , 718px 1163px #FFF , 1562px 346px #FFF , 628px 964px #FFF , 803px 699px #FFF , 668px 853px #FFF , 1988px 1901px #FFF , 131px 332px #FFF , 979px 952px #FFF , 151px 1549px #FFF , 984px 1730px #FFF , 1165px 1776px #FFF , 540px 1659px #FFF , 408px 1445px #FFF , 1169px 277px #FFF , 708px 191px #FFF , 1153px 1197px #FFF , 1408px 1666px #FFF , 815px 1821px #FFF , 1516px 438px #FFF , 1353px 1828px #FFF , 682px 1085px #FFF , 1477px 1269px #FFF , 861px 1392px #FFF , 859px 1120px #FFF , 1513px 1980px #FFF , 149px 1906px #FFF , 770px 1135px #FFF , 915px 17px #FFF , 1598px 813px #FFF , 796px 876px #FFF , 829px 932px #FFF , 1452px 1047px #FFF , 1115px 918px #FFF , 1707px 1978px #FFF , 522px 885px #FFF , 1195px 1487px #FFF , 1083px 985px #FFF , 1111px 1819px #FFF , 1642px 199px #FFF , 1476px 1546px #FFF , 1437px 1547px #FFF , 117px 1390px #FFF , 1632px 1207px #FFF , 1160px 1789px #FFF , 1141px 1524px #FFF , 1636px 376px #FFF , 1421px 1358px #FFF , 729px 384px #FFF , 1820px 1027px #FFF , 1107px 1263px #FFF , 1991px 1646px #FFF , 270px 1423px #FFF , 628px 1147px #FFF , 709px 1350px #FFF , 1914px 1851px #FFF , 545px 1354px #FFF , 1926px 449px #FFF , 1276px 205px #FFF , 1007px 309px #FFF , 1171px 612px #FFF , 699px 1806px #FFF , 1478px 1425px #FFF , 21px 733px #FFF , 980px 559px #FFF , 1680px 1853px #FFF , 1227px 179px #FFF , 529px 234px #FFF , 39px 1873px #FFF , 118px 1049px #FFF , 1685px 373px #FFF , 324px 304px #FFF , 1298px 1068px #FFF , 540px 256px #FFF , 329px 1994px #FFF , 779px 1432px #FFF , 1176px 1155px #FFF , 1518px 937px #FFF , 1562px 1868px #FFF , 222px 1265px #FFF , 1683px 1123px #FFF , 448px 1576px #FFF , 169px 1019px #FFF , 1098px 70px #FFF , 920px 1836px #FFF , 1472px 372px #FFF , 1645px 1046px #FFF , 1807px 1941px #FFF , 73px 611px #FFF , 430px 1783px #FFF , 599px 1101px #FFF , 699px 1351px #FFF , 388px 1961px #FFF , 1594px 1394px #FFF , 1630px 1480px #FFF , 1439px 992px #FFF , 1789px 1227px #FFF , 304px 700px #FFF , 102px 207px #FFF , 101px 1421px #FFF , 1767px 1812px #FFF , 24px 1955px #FFF , 539px 1328px #FFF , 1798px 1277px #FFF , 900px 1929px #FFF , 201px 1270px #FFF , 459px 1367px #FFF , 443px 599px #FFF , 344px 1380px #FFF , 1070px 1658px #FFF , 1760px 533px #FFF , 1928px 1037px #FFF , 766px 809px #FFF , 1017px 1192px #FFF , 1681px 1789px #FFF , 883px 559px #FFF , 1929px 1210px #FFF , 1641px 953px #FFF , 1727px 433px #FFF , 1402px 1736px #FFF , 714px 1089px #FFF , 1992px 1093px #FFF , 142px 1811px #FFF , 215px 780px #FFF , 764px 572px #FFF , 801px 1635px #FFF , 1128px 1120px #FFF , 53px 960px #FFF , 1835px 1305px #FFF , 1364px 1707px #FFF , 1846px 233px #FFF , 254px 738px #FFF , 1760px 431px #FFF , 493px 959px #FFF , 1242px 490px #FFF , 290px 2000px #FFF , 1904px 1854px #FFF , 1778px 1212px #FFF , 45px 1844px #FFF , 1540px 429px #FFF , 505px 270px #FFF , 1412px 577px #FFF , 1899px 1736px #FFF , 1436px 191px #FFF , 1149px 1834px #FFF , 871px 919px #FFF , 653px 1846px #FFF , 847px 1321px #FFF , 1184px 218px #FFF , 225px 161px #FFF , 1071px 1456px #FFF , 482px 950px #FFF , 860px 1648px #FFF , 240px 1844px #FFF , 1405px 1035px #FFF , 1251px 1558px #FFF , 1033px 740px #FFF , 563px 358px #FFF , 766px 1034px #FFF , 920px 263px #FFF , 990px 1424px #FFF , 650px 842px #FFF , 144px 1618px #FFF , 1323px 1662px #FFF , 431px 1498px #FFF , 923px 514px #FFF , 308px 1658px #FFF , 1922px 1972px #FFF , 1720px 602px #FFF , 988px 520px #FFF , 574px 1511px #FFF , 1091px 385px #FFF , 526px 1845px #FFF , 1552px 561px #FFF , 1372px 567px #FFF , 601px 506px #FFF , 496px 1900px #FFF , 460px 1268px #FFF , 1588px 1795px #FFF , 562px 458px #FFF , 1126px 1547px #FFF , 602px 990px #FFF , 975px 668px #FFF , 715px 480px #FFF , 1137px 88px #FFF , 624px 1181px #FFF , 889px 749px #FFF , 763px 1332px #FFF , 121px 1001px #FFF , 1720px 1859px #FFF , 1697px 1790px #FFF , 1563px 1834px #FFF , 872px 435px #FFF , 32px 1226px #FFF , 796px 793px #FFF , 922px 340px #FFF , 174px 1741px #FFF , 1334px 1899px #FFF , 1998px 764px #FFF , 1333px 1315px #FFF , 314px 640px #FFF , 811px 1801px #FFF , 228px 1067px #FFF , 1758px 16px #FFF , 952px 1654px #FFF , 1034px 188px #FFF , 804px 1312px #FFF , 397px 1159px #FFF , 1099px 1543px #FFF , 962px 1913px #FFF , 1557px 1732px #FFF , 238px 562px #FFF , 712px 1126px #FFF , 967px 1185px #FFF , 392px 911px #FFF , 1172px 1298px #FFF , 1983px 1514px #FFF , 810px 26px #FFF , 935px 1615px #FFF , 349px 1395px #FFF , 1394px 1725px #FFF , 1133px 472px #FFF , 1120px 1644px #FFF , 1831px 1833px #FFF , 162px 1205px #FFF , 1095px 1083px #FFF , 822px 966px #FFF , 1694px 64px #FFF , 1268px 1845px #FFF , 1268px 1089px #FFF , 825px 1366px #FFF , 562px 417px #FFF , 1245px 1822px #FFF , 672px 147px #FFF , 1064px 769px #FFF , 1046px 1387px #FFF , 421px 1183px #FFF , 853px 1576px #FFF , 1602px 476px #FFF , 302px 1028px #FFF , 691px 110px #FFF , 1503px 136px #FFF , 90px 823px #FFF , 630px 350px #FFF , 1611px 2000px #FFF , 191px 880px #FFF , 505px 163px #FFF , 1331px 15px #FFF , 118px 1880px #FFF , 1255px 812px #FFF , 1180px 1103px #FFF , 731px 511px #FFF , 179px 1509px #FFF , 1417px 700px #FFF , 1312px 1075px #FFF , 1640px 1710px #FFF , 1006px 1403px #FFF , 1987px 1423px #FFF , 655px 551px #FFF , 1299px 1913px #FFF , 869px 1417px #FFF , 701px 1133px #FFF , 520px 513px #FFF , 181px 625px #FFF , 1228px 1581px #FFF , 1268px 581px #FFF , 1301px 1520px #FFF , 36px 380px #FFF , 1919px 1997px #FFF , 977px 453px #FFF , 1451px 59px #FFF , 305px 874px #FFF , 1132px 451px #FFF , 434px 1051px #FFF , 1089px 1721px #FFF , 1824px 1139px #FFF , 972px 1201px #FFF , 961px 822px #FFF , 1445px 961px #FFF , 371px 9px #FFF , 1773px 1738px #FFF , 1450px 829px #FFF , 1205px 1313px #FFF , 1213px 1778px #FFF , 1649px 392px #FFF , 1073px 885px #FFF , 825px 1828px #FFF , 533px 520px #FFF , 1495px 1367px #FFF , 332px 1294px #FFF , 1196px 520px #FFF , 529px 262px #FFF , 248px 1073px #FFF , 1478px 970px #FFF , 694px 268px #FFF , 513px 676px #FFF , 1338px 1819px #FFF , 1088px 637px #FFF , 1506px 570px #FFF , 1203px 310px #FFF , 1250px 646px #FFF , 339px 732px #FFF , 1887px 137px #FFF , 133px 1323px #FFF , 1406px 171px #FFF , 54px 1960px #FFF , 1817px 1078px #FFF , 828px 538px #FFF , 1133px 827px #FFF , 62px 1325px #FFF , 170px 1915px #FFF , 668px 249px #FFF , 712px 888px #FFF , 630px 1299px #FFF , 727px 1335px #FFF , 821px 41px #FFF , 199px 1188px #FFF , 659px 1734px #FFF , 1619px 1904px #FFF , 1654px 469px #FFF , 308px 546px #FFF , 1424px 146px #FFF , 444px 1508px #FFF , 327px 1536px #FFF , 83px 99px #FFF , 1791px 55px #FFF , 24px 621px #FFF , 1265px 773px #FFF , 296px 607px #FFF , 1039px 1508px #FFF , 208px 672px #FFF , 652px 1033px #FFF , 1982px 289px #FFF , 1263px 549px #FFF , 908px 448px #FFF , 1878px 1762px #FFF , 362px 1666px #FFF , 476px 21px #FFF , 541px 244px #FFF , 1537px 1025px #FFF , 1132px 1156px #FFF , 110px 482px #FFF , 1377px 113px #FFF , 1416px 809px #FFF , 556px 982px #FFF , 26px 1383px #FFF , 41px 419px #FFF , 1919px 1510px #FFF , 1277px 1315px #FFF , 1434px 874px #FFF , 84px 1351px #FFF , 1538px 1707px #FFF , 684px 1023px #FFF , 1972px 1534px #FFF , 229px 1057px #FFF , 1134px 1721px #FFF , 1789px 437px #FFF , 986px 1345px #FFF , 1221px 1707px #FFF , 245px 285px #FFF , 1033px 1314px #FFF , 3px 267px #FFF , 98px 195px #FFF , 1889px 1712px #FFF , 1207px 1741px #FFF , 1669px 1335px #FFF , 836px 387px #FFF , 360px 1546px #FFF , 1947px 1605px #FFF , 110px 788px #FFF , 1144px 1956px #FFF , 507px 934px #FFF , 1216px 1163px #FFF , 300px 212px #FFF , 1456px 394px #FFF , 1049px 1537px #FFF , 81px 1309px #FFF , 1884px 743px #FFF , 1182px 849px #FFF , 1978px 1210px #FFF , 1845px 1463px #FFF , 1614px 13px #FFF , 1534px 1249px #FFF , 567px 1580px #FFF , 767px 561px #FFF , 226px 1074px #FFF , 884px 1096px #FFF , 1607px 453px #FFF , 1897px 755px #FFF , 765px 844px #FFF , 652px 41px #FFF , 1839px 1049px #FFF , 567px 1209px #FFF , 199px 123px #FFF , 661px 1334px #FFF , 433px 650px #FFF , 1355px 1936px #FFF , 1784px 35px #FFF , 1052px 1783px #FFF , 695px 139px #FFF , 248px 664px #FFF , 1422px 541px #FFF , 1490px 1025px #FFF , 145px 1397px #FFF , 1430px 931px #FFF , 1246px 1061px #FFF , 1357px 1965px #FFF , 77px 443px #FFF , 536px 1276px #FFF , 1237px 1715px #FFF , 1519px 1752px #FFF , 1670px 1942px #FFF , 1184px 1814px #FFF , 1937px 1226px #FFF , 553px 414px #FFF , 1246px 119px #FFF , 988px 507px #FFF , 112px 1143px #FFF , 1778px 108px #FFF , 1368px 1439px #FFF , 1062px 1833px #FFF , 1591px 547px #FFF , 518px 1210px #FFF , 1432px 1026px #FFF , 375px 474px #FFF , 430px 1777px #FFF , 1750px 1880px #FFF , 1811px 806px #FFF , 1484px 1934px #FFF , 1394px 675px #FFF , 1788px 201px #FFF , 1344px 332px #FFF , 1985px 1422px #FFF , 1449px 1792px #FFF , 1860px 1748px #FFF , 1709px 1286px #FFF , 555px 540px #FFF , 1765px 1965px #FFF , 1154px 841px #FFF , 14px 1222px #FFF , 1429px 1844px #FFF , 1196px 1591px #FFF , 1573px 833px #FFF , 451px 406px #FFF , 416px 833px #FFF , 943px 1575px #FFF , 1510px 159px #FFF , 1723px 952px #FFF , 908px 1227px #FFF , 398px 1227px #FFF , 391px 1449px #FFF , 1695px 1692px #FFF , 938px 1592px #FFF , 1494px 1760px #FFF , 429px 1946px #FFF , 1203px 1511px #FFF , 359px 379px #FFF , 418px 1317px #FFF , 1105px 85px #FFF , 1081px 1709px #FFF , 687px 732px #FFF , 798px 1799px #FFF , 1616px 1955px #FFF , 1632px 874px #FFF , 1045px 1876px #FFF , 1823px 565px #FFF , 1025px 82px #FFF , 450px 1456px #FFF , 998px 1421px #FFF , 1059px 901px #FFF , 1325px 1820px #FFF , 1109px 305px #FFF , 651px 276px #FFF , 1546px 1784px #FFF , 1891px 1712px #FFF , 107px 765px #FFF , 126px 1272px #FFF , 1650px 877px #FFF , 1273px 1087px #FFF , 85px 1612px #FFF , 286px 1480px #FFF , 1819px 1744px #FFF , 1300px 1027px #FFF , 1070px 1864px #FFF , 1044px 44px #FFF , 97px 1954px #FFF , 633px 1953px #FFF , 1439px 1447px #FFF , 811px 1099px #FFF , 860px 69px #FFF , 1834px 1382px #FFF , 860px 882px #FFF , 1782px 1036px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 881px 873px #FFF , 1588px 1616px #FFF , 560px 1931px #FFF , 552px 1541px #FFF , 587px 70px #FFF , 1668px 1865px #FFF , 1422px 489px #FFF , 1374px 790px #FFF , 373px 1423px #FFF , 1973px 1916px #FFF , 1932px 1096px #FFF , 1679px 239px #FFF , 573px 458px #FFF , 763px 706px #FFF , 472px 906px #FFF , 1615px 1003px #FFF , 1566px 649px #FFF , 1911px 1813px #FFF , 1835px 289px #FFF , 1110px 1688px #FFF , 965px 1656px #FFF , 1012px 826px #FFF , 1621px 1868px #FFF , 562px 113px #FFF , 1990px 1975px #FFF , 912px 289px #FFF , 1048px 1281px #FFF , 1272px 857px #FFF , 1353px 332px #FFF , 704px 1878px #FFF , 1407px 792px #FFF , 422px 900px #FFF , 1462px 1961px #FFF , 768px 1941px #FFF , 420px 1116px #FFF , 1042px 1375px #FFF , 1906px 109px #FFF , 1883px 1963px #FFF , 1539px 1071px #FFF , 248px 819px #FFF , 1539px 1099px #FFF , 615px 215px #FFF , 733px 1936px #FFF , 93px 866px #FFF , 336px 1101px #FFF , 1832px 1691px #FFF , 1683px 195px #FFF , 1874px 1942px #FFF , 1747px 1271px #FFF , 1918px 1570px #FFF , 39px 1813px #FFF , 1709px 1310px #FFF , 1220px 333px #FFF , 509px 1645px #FFF , 1223px 1664px #FFF , 885px 1218px #FFF , 971px 1955px #FFF , 1032px 973px #FFF , 1855px 1668px #FFF , 1065px 34px #FFF , 1736px 815px #FFF , 1538px 1558px #FFF , 431px 1772px #FFF , 1228px 716px #FFF , 1813px 1039px #FFF , 1508px 775px #FFF , 1229px 863px #FFF , 1938px 1369px #FFF , 402px 1377px #FFF , 1324px 199px #FFF , 353px 1165px #FFF , 1133px 1149px #FFF , 663px 1278px #FFF , 640px 831px #FFF , 1181px 1106px #FFF , 782px 1989px #FFF , 1784px 1587px #FFF , 30px 1912px #FFF , 41px 1412px #FFF , 1758px 1778px #FFF , 1539px 1944px #FFF , 48px 567px #FFF , 313px 2000px #FFF , 1541px 1699px #FFF , 1694px 1249px #FFF , 1064px 859px #FFF , 643px 793px #FFF , 1491px 92px #FFF , 1921px 752px #FFF , 1324px 1109px #FFF , 602px 1409px #FFF , 752px 1382px #FFF , 1942px 889px #FFF , 1662px 1209px #FFF , 762px 1894px #FFF , 1605px 1316px #FFF , 1924px 1463px #FFF , 283px 520px #FFF , 1970px 1916px #FFF , 1206px 1999px #FFF , 20px 1400px #FFF , 582px 435px #FFF , 519px 320px #FFF , 1625px 1674px #FFF , 1675px 350px #FFF , 1520px 348px #FFF , 1848px 696px #FFF , 1010px 1372px #FFF , 885px 1353px #FFF , 1477px 695px #FFF , 1144px 380px #FFF , 415px 779px #FFF , 171px 302px #FFF , 1121px 605px #FFF , 1730px 37px #FFF , 471px 1471px #FFF , 782px 1712px #FFF , 163px 1167px #FFF , 135px 1394px #FFF , 1056px 224px #FFF , 762px 724px #FFF , 182px 1436px #FFF , 22px 1576px #FFF , 372px 1314px #FFF , 1857px 1237px #FFF , 1804px 682px #FFF , 1580px 224px #FFF , 860px 1043px #FFF , 1802px 1290px #FFF , 1525px 1148px #FFF , 143px 336px #FFF , 288px 876px #FFF , 1430px 22px #FFF , 788px 1446px #FFF , 1649px 1157px #FFF , 957px 1134px #FFF , 33px 861px #FFF , 1177px 520px #FFF , 1012px 1811px #FFF , 273px 468px #FFF , 908px 368px #FFF , 1412px 1862px #FFF , 1165px 20px #FFF , 1264px 421px #FFF , 244px 1999px #FFF , 1846px 256px #FFF , 94px 229px #FFF , 329px 1445px #FFF , 1087px 512px #FFF , 959px 1060px #FFF , 1070px 1091px #FFF , 903px 670px #FFF , 276px 344px #FFF , 1611px 1466px #FFF , 1694px 1938px #FFF , 1755px 1885px #FFF , 317px 1971px #FFF , 967px 604px #FFF , 71px 470px #FFF , 840px 1575px #FFF , 1952px 892px #FFF , 145px 1532px #FFF , 1235px 666px #FFF , 1906px 1800px #FFF , 593px 1400px #FFF , 882px 22px #FFF , 1666px 1804px #FFF , 1148px 894px #FFF , 844px 1227px #FFF , 1509px 59px #FFF , 227px 860px #FFF , 409px 1957px #FFF , 743px 294px #FFF , 77px 1368px #FFF , 834px 1644px #FFF , 1527px 1574px #FFF , 1625px 1186px #FFF , 146px 1087px #FFF , 1071px 967px #FFF , 1690px 283px #FFF , 96px 1018px #FFF , 2000px 593px #FFF , 764px 782px #FFF , 1313px 1426px #FFF , 1129px 714px #FFF , 1741px 1486px #FFF , 1072px 667px #FFF , 1277px 858px #FFF , 1687px 1214px #FFF , 852px 1095px #FFF , 109px 384px #FFF , 231px 237px #FFF , 172px 502px #FFF , 171px 230px #FFF , 155px 1959px #FFF , 624px 1345px #FFF , 1227px 435px #FFF , 936px 1824px #FFF , 1110px 955px #FFF , 62px 1105px #FFF , 70px 1354px #FFF , 988px 1005px #FFF , 1536px 845px #FFF , 1738px 963px #FFF , 368px 980px #FFF , 574px 1742px #FFF , 960px 1303px #FFF , 359px 1688px #FFF , 1815px 1381px #FFF , 1979px 1382px #FFF , 1687px 1644px #FFF , 369px 473px #FFF , 1707px 1610px #FFF , 484px 1893px #FFF , 1378px 486px #FFF , 484px 1116px #FFF , 906px 160px #FFF , 1238px 491px #FFF , 890px 1966px #FFF , 1571px 1110px #FFF , 571px 1236px #FFF , 1024px 1877px #FFF , 246px 1590px #FFF , 1246px 752px #FFF , 1741px 1895px #FFF , 1239px 1870px #FFF , 1940px 147px #FFF , 1242px 392px #FFF , 1739px 792px #FFF , 824px 1304px #FFF , 77px 503px #FFF , 1009px 1958px #FFF , 264px 1373px #FFF , 1428px 1981px #FFF , 1022px 497px #FFF , 1312px 646px #FFF , 1246px 351px #FFF , 1303px 1865px #FFF , 72px 219px #FFF , 1713px 467px #FFF , 1799px 346px #FFF , 457px 577px #FFF , 1880px 1961px #FFF , 1987px 1686px #FFF , 160px 1083px #FFF , 1016px 1412px #FFF , 800px 800px #FFF , 1629px 1373px #FFF , 909px 1040px #FFF , 286px 1239px #FFF , 245px 1993px #FFF , 1325px 105px #FFF , 1343px 647px #FFF , 119px 1443px #FFF , 286px 1277px #FFF , 1107px 117px #FFF , 563px 669px #FFF , 972px 285px #FFF , 790px 705px #FFF , 324px 404px #FFF , 734px 695px #FFF , 1486px 780px #FFF , 229px 1206px #FFF , 1020px 856px #FFF , 32px 62px #FFF , 1803px 1307px #FFF , 1072px 524px #FFF , 104px 547px #FFF , 794px 1395px #FFF , 796px 1232px #FFF , 1043px 280px #FFF , 1429px 1389px #FFF , 1769px 778px #FFF , 1722px 1707px #FFF , 1172px 1206px #FFF , 702px 297px #FFF , 2px 1876px #FFF , 140px 828px #FFF , 1856px 415px #FFF , 1213px 1945px #FFF , 1333px 968px #FFF , 953px 851px #FFF , 1926px 1958px #FFF , 1377px 604px #FFF , 614px 1148px #FFF , 1903px 1079px #FFF , 1580px 501px #FFF , 983px 61px #FFF , 1619px 407px #FFF , 1033px 1442px #FFF , 1461px 923px #FFF , 1288px 993px #FFF , 589px 1779px #FFF , 564px 1938px #FFF , 149px 1195px #FFF , 1730px 715px #FFF , 216px 1308px #FFF , 1106px 1887px #FFF , 1897px 1336px #FFF , 1606px 156px #FFF , 827px 129px #FFF , 1265px 1112px #FFF , 1614px 541px #FFF , 734px 215px #FFF , 838px 1564px #FFF , 976px 661px #FFF , 815px 567px #FFF , 762px 212px #FFF , 718px 1163px #FFF , 1562px 346px #FFF , 628px 964px #FFF , 803px 699px #FFF , 668px 853px #FFF , 1988px 1901px #FFF , 131px 332px #FFF , 979px 952px #FFF , 151px 1549px #FFF , 984px 1730px #FFF , 1165px 1776px #FFF , 540px 1659px #FFF , 408px 1445px #FFF , 1169px 277px #FFF , 708px 191px #FFF , 1153px 1197px #FFF , 1408px 1666px #FFF , 815px 1821px #FFF , 1516px 438px #FFF , 1353px 1828px #FFF , 682px 1085px #FFF , 1477px 1269px #FFF , 861px 1392px #FFF , 859px 1120px #FFF , 1513px 1980px #FFF , 149px 1906px #FFF , 770px 1135px #FFF , 915px 17px #FFF , 1598px 813px #FFF , 796px 876px #FFF , 829px 932px #FFF , 1452px 1047px #FFF , 1115px 918px #FFF , 1707px 1978px #FFF , 522px 885px #FFF , 1195px 1487px #FFF , 1083px 985px #FFF , 1111px 1819px #FFF , 1642px 199px #FFF , 1476px 1546px #FFF , 1437px 1547px #FFF , 117px 1390px #FFF , 1632px 1207px #FFF , 1160px 1789px #FFF , 1141px 1524px #FFF , 1636px 376px #FFF , 1421px 1358px #FFF , 729px 384px #FFF , 1820px 1027px #FFF , 1107px 1263px #FFF , 1991px 1646px #FFF , 270px 1423px #FFF , 628px 1147px #FFF , 709px 1350px #FFF , 1914px 1851px #FFF , 545px 1354px #FFF , 1926px 449px #FFF , 1276px 205px #FFF , 1007px 309px #FFF , 1171px 612px #FFF , 699px 1806px #FFF , 1478px 1425px #FFF , 21px 733px #FFF , 980px 559px #FFF , 1680px 1853px #FFF , 1227px 179px #FFF , 529px 234px #FFF , 39px 1873px #FFF , 118px 1049px #FFF , 1685px 373px #FFF , 324px 304px #FFF , 1298px 1068px #FFF , 540px 256px #FFF , 329px 1994px #FFF , 779px 1432px #FFF , 1176px 1155px #FFF , 1518px 937px #FFF , 1562px 1868px #FFF , 222px 1265px #FFF , 1683px 1123px #FFF , 448px 1576px #FFF , 169px 1019px #FFF , 1098px 70px #FFF , 920px 1836px #FFF , 1472px 372px #FFF , 1645px 1046px #FFF , 1807px 1941px #FFF , 73px 611px #FFF , 430px 1783px #FFF , 599px 1101px #FFF , 699px 1351px #FFF , 388px 1961px #FFF , 1594px 1394px #FFF , 1630px 1480px #FFF , 1439px 992px #FFF , 1789px 1227px #FFF , 304px 700px #FFF , 102px 207px #FFF , 101px 1421px #FFF , 1767px 1812px #FFF , 24px 1955px #FFF , 539px 1328px #FFF , 1798px 1277px #FFF , 900px 1929px #FFF , 201px 1270px #FFF , 459px 1367px #FFF , 443px 599px #FFF , 344px 1380px #FFF , 1070px 1658px #FFF , 1760px 533px #FFF , 1928px 1037px #FFF , 766px 809px #FFF , 1017px 1192px #FFF , 1681px 1789px #FFF , 883px 559px #FFF , 1929px 1210px #FFF , 1641px 953px #FFF , 1727px 433px #FFF , 1402px 1736px #FFF , 714px 1089px #FFF , 1992px 1093px #FFF , 142px 1811px #FFF , 215px 780px #FFF , 764px 572px #FFF , 801px 1635px #FFF , 1128px 1120px #FFF , 53px 960px #FFF , 1835px 1305px #FFF , 1364px 1707px #FFF , 1846px 233px #FFF , 254px 738px #FFF , 1760px 431px #FFF , 493px 959px #FFF , 1242px 490px #FFF , 290px 2000px #FFF , 1904px 1854px #FFF , 1778px 1212px #FFF , 45px 1844px #FFF , 1540px 429px #FFF , 505px 270px #FFF , 1412px 577px #FFF , 1899px 1736px #FFF , 1436px 191px #FFF , 1149px 1834px #FFF , 871px 919px #FFF , 653px 1846px #FFF , 847px 1321px #FFF , 1184px 218px #FFF , 225px 161px #FFF , 1071px 1456px #FFF , 482px 950px #FFF , 860px 1648px #FFF , 240px 1844px #FFF , 1405px 1035px #FFF , 1251px 1558px #FFF , 1033px 740px #FFF , 563px 358px #FFF , 766px 1034px #FFF , 920px 263px #FFF , 990px 1424px #FFF , 650px 842px #FFF , 144px 1618px #FFF , 1323px 1662px #FFF , 431px 1498px #FFF , 923px 514px #FFF , 308px 1658px #FFF , 1922px 1972px #FFF , 1720px 602px #FFF , 988px 520px #FFF , 574px 1511px #FFF , 1091px 385px #FFF , 526px 1845px #FFF , 1552px 561px #FFF , 1372px 567px #FFF , 601px 506px #FFF , 496px 1900px #FFF , 460px 1268px #FFF , 1588px 1795px #FFF , 562px 458px #FFF , 1126px 1547px #FFF , 602px 990px #FFF , 975px 668px #FFF , 715px 480px #FFF , 1137px 88px #FFF , 624px 1181px #FFF , 889px 749px #FFF , 763px 1332px #FFF , 121px 1001px #FFF , 1720px 1859px #FFF , 1697px 1790px #FFF , 1563px 1834px #FFF , 872px 435px #FFF , 32px 1226px #FFF , 796px 793px #FFF , 922px 340px #FFF , 174px 1741px #FFF , 1334px 1899px #FFF , 1998px 764px #FFF , 1333px 1315px #FFF , 314px 640px #FFF , 811px 1801px #FFF , 228px 1067px #FFF , 1758px 16px #FFF , 952px 1654px #FFF , 1034px 188px #FFF , 804px 1312px #FFF , 397px 1159px #FFF , 1099px 1543px #FFF , 962px 1913px #FFF , 1557px 1732px #FFF , 238px 562px #FFF , 712px 1126px #FFF , 967px 1185px #FFF , 392px 911px #FFF , 1172px 1298px #FFF , 1983px 1514px #FFF , 810px 26px #FFF , 935px 1615px #FFF , 349px 1395px #FFF , 1394px 1725px #FFF , 1133px 472px #FFF , 1120px 1644px #FFF , 1831px 1833px #FFF , 162px 1205px #FFF , 1095px 1083px #FFF , 822px 966px #FFF , 1694px 64px #FFF , 1268px 1845px #FFF , 1268px 1089px #FFF , 825px 1366px #FFF , 562px 417px #FFF , 1245px 1822px #FFF , 672px 147px #FFF , 1064px 769px #FFF , 1046px 1387px #FFF , 421px 1183px #FFF , 853px 1576px #FFF , 1602px 476px #FFF , 302px 1028px #FFF , 691px 110px #FFF , 1503px 136px #FFF , 90px 823px #FFF , 630px 350px #FFF , 1611px 2000px #FFF , 191px 880px #FFF , 505px 163px #FFF , 1331px 15px #FFF , 118px 1880px #FFF , 1255px 812px #FFF , 1180px 1103px #FFF , 731px 511px #FFF , 179px 1509px #FFF , 1417px 700px #FFF , 1312px 1075px #FFF , 1640px 1710px #FFF , 1006px 1403px #FFF , 1987px 1423px #FFF , 655px 551px #FFF , 1299px 1913px #FFF , 869px 1417px #FFF , 701px 1133px #FFF , 520px 513px #FFF , 181px 625px #FFF , 1228px 1581px #FFF , 1268px 581px #FFF , 1301px 1520px #FFF , 36px 380px #FFF , 1919px 1997px #FFF , 977px 453px #FFF , 1451px 59px #FFF , 305px 874px #FFF , 1132px 451px #FFF , 434px 1051px #FFF , 1089px 1721px #FFF , 1824px 1139px #FFF , 972px 1201px #FFF , 961px 822px #FFF , 1445px 961px #FFF , 371px 9px #FFF , 1773px 1738px #FFF , 1450px 829px #FFF , 1205px 1313px #FFF , 1213px 1778px #FFF , 1649px 392px #FFF , 1073px 885px #FFF , 825px 1828px #FFF , 533px 520px #FFF , 1495px 1367px #FFF , 332px 1294px #FFF , 1196px 520px #FFF , 529px 262px #FFF , 248px 1073px #FFF , 1478px 970px #FFF , 694px 268px #FFF , 513px 676px #FFF , 1338px 1819px #FFF , 1088px 637px #FFF , 1506px 570px #FFF , 1203px 310px #FFF , 1250px 646px #FFF , 339px 732px #FFF , 1887px 137px #FFF , 133px 1323px #FFF , 1406px 171px #FFF , 54px 1960px #FFF , 1817px 1078px #FFF , 828px 538px #FFF , 1133px 827px #FFF , 62px 1325px #FFF , 170px 1915px #FFF , 668px 249px #FFF , 712px 888px #FFF , 630px 1299px #FFF , 727px 1335px #FFF , 821px 41px #FFF , 199px 1188px #FFF , 659px 1734px #FFF , 1619px 1904px #FFF , 1654px 469px #FFF , 308px 546px #FFF , 1424px 146px #FFF , 444px 1508px #FFF , 327px 1536px #FFF , 83px 99px #FFF , 1791px 55px #FFF , 24px 621px #FFF , 1265px 773px #FFF , 296px 607px #FFF , 1039px 1508px #FFF , 208px 672px #FFF , 652px 1033px #FFF , 1982px 289px #FFF , 1263px 549px #FFF , 908px 448px #FFF , 1878px 1762px #FFF , 362px 1666px #FFF , 476px 21px #FFF , 541px 244px #FFF , 1537px 1025px #FFF , 1132px 1156px #FFF , 110px 482px #FFF , 1377px 113px #FFF , 1416px 809px #FFF , 556px 982px #FFF , 26px 1383px #FFF , 41px 419px #FFF , 1919px 1510px #FFF , 1277px 1315px #FFF , 1434px 874px #FFF , 84px 1351px #FFF , 1538px 1707px #FFF , 684px 1023px #FFF , 1972px 1534px #FFF , 229px 1057px #FFF , 1134px 1721px #FFF , 1789px 437px #FFF , 986px 1345px #FFF , 1221px 1707px #FFF , 245px 285px #FFF , 1033px 1314px #FFF , 3px 267px #FFF , 98px 195px #FFF , 1889px 1712px #FFF , 1207px 1741px #FFF , 1669px 1335px #FFF , 836px 387px #FFF , 360px 1546px #FFF , 1947px 1605px #FFF , 110px 788px #FFF , 1144px 1956px #FFF , 507px 934px #FFF , 1216px 1163px #FFF , 300px 212px #FFF , 1456px 394px #FFF , 1049px 1537px #FFF , 81px 1309px #FFF , 1884px 743px #FFF , 1182px 849px #FFF , 1978px 1210px #FFF , 1845px 1463px #FFF , 1614px 13px #FFF , 1534px 1249px #FFF , 567px 1580px #FFF , 767px 561px #FFF , 226px 1074px #FFF , 884px 1096px #FFF , 1607px 453px #FFF , 1897px 755px #FFF , 765px 844px #FFF , 652px 41px #FFF , 1839px 1049px #FFF , 567px 1209px #FFF , 199px 123px #FFF , 661px 1334px #FFF , 433px 650px #FFF , 1355px 1936px #FFF , 1784px 35px #FFF , 1052px 1783px #FFF , 695px 139px #FFF , 248px 664px #FFF , 1422px 541px #FFF , 1490px 1025px #FFF , 145px 1397px #FFF , 1430px 931px #FFF , 1246px 1061px #FFF , 1357px 1965px #FFF , 77px 443px #FFF , 536px 1276px #FFF , 1237px 1715px #FFF , 1519px 1752px #FFF , 1670px 1942px #FFF , 1184px 1814px #FFF , 1937px 1226px #FFF , 553px 414px #FFF , 1246px 119px #FFF , 988px 507px #FFF , 112px 1143px #FFF , 1778px 108px #FFF , 1368px 1439px #FFF , 1062px 1833px #FFF , 1591px 547px #FFF , 518px 1210px #FFF , 1432px 1026px #FFF , 375px 474px #FFF , 430px 1777px #FFF , 1750px 1880px #FFF , 1811px 806px #FFF , 1484px 1934px #FFF , 1394px 675px #FFF , 1788px 201px #FFF , 1344px 332px #FFF , 1985px 1422px #FFF , 1449px 1792px #FFF , 1860px 1748px #FFF , 1709px 1286px #FFF , 555px 540px #FFF , 1765px 1965px #FFF , 1154px 841px #FFF , 14px 1222px #FFF , 1429px 1844px #FFF , 1196px 1591px #FFF , 1573px 833px #FFF , 451px 406px #FFF , 416px 833px #FFF , 943px 1575px #FFF , 1510px 159px #FFF , 1723px 952px #FFF , 908px 1227px #FFF , 398px 1227px #FFF , 391px 1449px #FFF , 1695px 1692px #FFF , 938px 1592px #FFF , 1494px 1760px #FFF , 429px 1946px #FFF , 1203px 1511px #FFF , 359px 379px #FFF , 418px 1317px #FFF , 1105px 85px #FFF , 1081px 1709px #FFF , 687px 732px #FFF , 798px 1799px #FFF , 1616px 1955px #FFF , 1632px 874px #FFF , 1045px 1876px #FFF , 1823px 565px #FFF , 1025px 82px #FFF , 450px 1456px #FFF , 998px 1421px #FFF , 1059px 901px #FFF , 1325px 1820px #FFF , 1109px 305px #FFF , 651px 276px #FFF , 1546px 1784px #FFF , 1891px 1712px #FFF , 107px 765px #FFF , 126px 1272px #FFF , 1650px 877px #FFF , 1273px 1087px #FFF , 85px 1612px #FFF , 286px 1480px #FFF , 1819px 1744px #FFF , 1300px 1027px #FFF , 1070px 1864px #FFF , 1044px 44px #FFF , 97px 1954px #FFF , 633px 1953px #FFF , 1439px 1447px #FFF , 811px 1099px #FFF , 860px 69px #FFF , 1834px 1382px #FFF , 860px 882px #FFF , 1782px 1036px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 966px 433px #FFF , 365px 1103px #FFF , 80px 106px #FFF , 1259px 1261px #FFF , 1253px 311px #FFF , 1353px 741px #FFF , 1562px 1681px #FFF , 802px 236px #FFF , 909px 874px #FFF , 517px 1009px #FFF , 374px 369px #FFF , 1059px 1467px #FFF , 12px 418px #FFF , 1130px 99px #FFF , 603px 662px #FFF , 1697px 904px #FFF , 1927px 219px #FFF , 1281px 1531px #FFF , 1219px 1156px #FFF , 1070px 84px #FFF , 1859px 1012px #FFF , 746px 200px #FFF , 1864px 953px #FFF , 147px 830px #FFF , 1319px 1241px #FFF , 1882px 951px #FFF , 1001px 1803px #FFF , 1113px 1690px #FFF , 1741px 441px #FFF , 1104px 646px #FFF , 33px 1203px #FFF , 57px 55px #FFF , 767px 601px #FFF , 1455px 161px #FFF , 360px 1368px #FFF , 1452px 1439px #FFF , 148px 90px #FFF , 880px 1413px #FFF , 531px 36px #FFF , 1758px 1916px #FFF , 925px 1100px #FFF , 1249px 989px #FFF , 445px 332px #FFF , 1487px 372px #FFF , 940px 1639px #FFF , 985px 1891px #FFF , 1510px 756px #FFF , 718px 1494px #FFF , 614px 1919px #FFF , 1940px 1043px #FFF , 293px 546px #FFF , 644px 1756px #FFF , 32px 1463px #FFF , 1222px 480px #FFF , 835px 1059px #FFF , 1634px 1899px #FFF , 1329px 669px #FFF , 1325px 1748px #FFF , 1020px 1376px #FFF , 373px 1546px #FFF , 1534px 945px #FFF , 1786px 983px #FFF , 529px 280px #FFF , 359px 286px #FFF , 1546px 86px #FFF , 1319px 808px #FFF , 1742px 755px #FFF , 1914px 1727px #FFF , 1520px 745px #FFF , 1137px 1211px #FFF , 1319px 923px #FFF , 555px 519px #FFF , 1564px 1963px #FFF , 867px 94px #FFF , 1287px 345px #FFF , 1976px 1422px #FFF , 1862px 202px #FFF , 1886px 416px #FFF , 16px 612px #FFF , 845px 1314px #FFF , 114px 1203px #FFF , 1332px 1487px #FFF , 1410px 1137px #FFF , 1545px 37px #FFF , 456px 1313px #FFF , 33px 576px #FFF , 990px 378px #FFF , 580px 1364px #FFF , 891px 1302px #FFF , 245px 447px #FFF , 836px 1111px #FFF , 1350px 951px #FFF , 1602px 31px #FFF , 1252px 1425px #FFF , 1386px 1468px #FFF , 416px 41px #FFF , 1895px 1490px #FFF , 1115px 1832px #FFF , 215px 91px #FFF , 1241px 1187px #FFF , 1663px 1096px #FFF , 837px 906px #FFF , 1750px 1392px #FFF , 1664px 1791px #FFF , 1670px 1432px #FFF , 1994px 714px #FFF , 1141px 1557px #FFF , 1095px 1028px #FFF , 243px 1137px #FFF , 1796px 1575px #FFF , 1133px 1576px #FFF , 1623px 1528px #FFF , 1896px 1537px #FFF , 101px 1102px #FFF , 1183px 997px #FFF , 1555px 103px #FFF , 1332px 432px #FFF , 688px 1147px #FFF , 1174px 1140px #FFF , 1724px 1817px #FFF , 311px 1300px #FFF , 792px 1218px #FFF , 1168px 1227px #FFF , 286px 1858px #FFF , 1514px 1929px #FFF , 1970px 1963px #FFF , 1549px 886px #FFF , 1217px 108px #FFF , 967px 158px #FFF , 1987px 848px #FFF , 594px 820px #FFF , 1473px 1593px #FFF , 1520px 221px #FFF , 1994px 450px #FFF , 1259px 1162px #FFF , 1911px 752px #FFF , 289px 498px #FFF , 1282px 1668px #FFF , 1824px 1707px #FFF , 1588px 217px #FFF , 1898px 1776px #FFF , 1966px 731px #FFF , 764px 1879px #FFF , 555px 1582px #FFF , 1322px 1477px #FFF , 477px 856px #FFF , 1872px 321px #FFF , 1060px 1201px #FFF , 299px 1921px #FFF , 1165px 613px #FFF , 794px 1507px #FFF , 1070px 1254px #FFF , 1513px 1009px #FFF , 82px 767px #FFF , 1855px 1366px #FFF , 125px 1907px #FFF , 1487px 811px #FFF , 1367px 3px #FFF , 1402px 798px #FFF , 1415px 451px #FFF , 21px 125px #FFF , 1495px 252px #FFF , 58px 1278px #FFF , 1676px 761px #FFF , 1733px 953px #FFF , 456px 1861px #FFF , 1164px 48px #FFF , 114px 390px #FFF , 1161px 77px #FFF , 235px 1859px #FFF , 1709px 1306px #FFF , 533px 422px #FFF , 960px 1796px #FFF , 296px 1644px #FFF , 347px 1802px #FFF , 747px 1902px #FFF , 406px 1836px #FFF , 83px 13px #FFF , 969px 799px #FFF , 1270px 308px #FFF , 1712px 601px #FFF , 1224px 468px #FFF , 1073px 1887px #FFF , 221px 1998px #FFF , 1189px 562px #FFF , 1613px 1160px #FFF , 524px 1732px #FFF , 1462px 436px #FFF , 1721px 1173px #FFF , 766px 754px #FFF , 1464px 744px #FFF , 936px 1157px #FFF , 1126px 1056px #FFF , 1280px 877px #FFF , 1149px 1881px #FFF , 1137px 68px #FFF , 964px 1774px #FFF , 1604px 97px #FFF , 1561px 1036px #FFF , 1551px 1188px #FFF , 989px 1187px #FFF , 581px 1079px #FFF , 1278px 1069px #FFF , 1831px 1770px #FFF , 1764px 1462px #FFF , 1567px 1019px #FFF , 986px 555px #FFF , 174px 782px #FFF , 1837px 4px #FFF , 1466px 1847px #FFF , 648px 888px #FFF , 1144px 202px #FFF , 187px 1499px #FFF , 640px 607px #FFF , 1097px 182px #FFF , 419px 126px #FFF , 1349px 653px #FFF , 249px 983px #FFF , 783px 1817px #FFF , 954px 1845px #FFF , 478px 1273px #FFF , 499px 674px #FFF , 1177px 198px #FFF , 131px 399px #FFF , 584px 1339px #FFF , 535px 1141px #FFF , 1372px 960px #FFF , 230px 593px #FFF , 1896px 508px #FFF , 165px 778px #FFF , 343px 872px #FFF , 860px 1496px #FFF , 1363px 1887px #FFF , 918px 862px #FFF , 1483px 899px #FFF , 777px 573px #FFF , 1882px 1471px #FFF , 1032px 1023px #FFF , 177px 491px #FFF , 1870px 681px #FFF , 399px 1122px #FFF , 1910px 1010px #FFF , 1587px 547px #FFF , 1028px 1759px #FFF , 1667px 1309px #FFF , 1025px 1985px #FFF , 1297px 1395px #FFF , 464px 856px #FFF , 1779px 171px #FFF , 1426px 1989px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 966px 433px #FFF , 365px 1103px #FFF , 80px 106px #FFF , 1259px 1261px #FFF , 1253px 311px #FFF , 1353px 741px #FFF , 1562px 1681px #FFF , 802px 236px #FFF , 909px 874px #FFF , 517px 1009px #FFF , 374px 369px #FFF , 1059px 1467px #FFF , 12px 418px #FFF , 1130px 99px #FFF , 603px 662px #FFF , 1697px 904px #FFF , 1927px 219px #FFF , 1281px 1531px #FFF , 1219px 1156px #FFF , 1070px 84px #FFF , 1859px 1012px #FFF , 746px 200px #FFF , 1864px 953px #FFF , 147px 830px #FFF , 1319px 1241px #FFF , 1882px 951px #FFF , 1001px 1803px #FFF , 1113px 1690px #FFF , 1741px 441px #FFF , 1104px 646px #FFF , 33px 1203px #FFF , 57px 55px #FFF , 767px 601px #FFF , 1455px 161px #FFF , 360px 1368px #FFF , 1452px 1439px #FFF , 148px 90px #FFF , 880px 1413px #FFF , 531px 36px #FFF , 1758px 1916px #FFF , 925px 1100px #FFF , 1249px 989px #FFF , 445px 332px #FFF , 1487px 372px #FFF , 940px 1639px #FFF , 985px 1891px #FFF , 1510px 756px #FFF , 718px 1494px #FFF , 614px 1919px #FFF , 1940px 1043px #FFF , 293px 546px #FFF , 644px 1756px #FFF , 32px 1463px #FFF , 1222px 480px #FFF , 835px 1059px #FFF , 1634px 1899px #FFF , 1329px 669px #FFF , 1325px 1748px #FFF , 1020px 1376px #FFF , 373px 1546px #FFF , 1534px 945px #FFF , 1786px 983px #FFF , 529px 280px #FFF , 359px 286px #FFF , 1546px 86px #FFF , 1319px 808px #FFF , 1742px 755px #FFF , 1914px 1727px #FFF , 1520px 745px #FFF , 1137px 1211px #FFF , 1319px 923px #FFF , 555px 519px #FFF , 1564px 1963px #FFF , 867px 94px #FFF , 1287px 345px #FFF , 1976px 1422px #FFF , 1862px 202px #FFF , 1886px 416px #FFF , 16px 612px #FFF , 845px 1314px #FFF , 114px 1203px #FFF , 1332px 1487px #FFF , 1410px 1137px #FFF , 1545px 37px #FFF , 456px 1313px #FFF , 33px 576px #FFF , 990px 378px #FFF , 580px 1364px #FFF , 891px 1302px #FFF , 245px 447px #FFF , 836px 1111px #FFF , 1350px 951px #FFF , 1602px 31px #FFF , 1252px 1425px #FFF , 1386px 1468px #FFF , 416px 41px #FFF , 1895px 1490px #FFF , 1115px 1832px #FFF , 215px 91px #FFF , 1241px 1187px #FFF , 1663px 1096px #FFF , 837px 906px #FFF , 1750px 1392px #FFF , 1664px 1791px #FFF , 1670px 1432px #FFF , 1994px 714px #FFF , 1141px 1557px #FFF , 1095px 1028px #FFF , 243px 1137px #FFF , 1796px 1575px #FFF , 1133px 1576px #FFF , 1623px 1528px #FFF , 1896px 1537px #FFF , 101px 1102px #FFF , 1183px 997px #FFF , 1555px 103px #FFF , 1332px 432px #FFF , 688px 1147px #FFF , 1174px 1140px #FFF , 1724px 1817px #FFF , 311px 1300px #FFF , 792px 1218px #FFF , 1168px 1227px #FFF , 286px 1858px #FFF , 1514px 1929px #FFF , 1970px 1963px #FFF , 1549px 886px #FFF , 1217px 108px #FFF , 967px 158px #FFF , 1987px 848px #FFF , 594px 820px #FFF , 1473px 1593px #FFF , 1520px 221px #FFF , 1994px 450px #FFF , 1259px 1162px #FFF , 1911px 752px #FFF , 289px 498px #FFF , 1282px 1668px #FFF , 1824px 1707px #FFF , 1588px 217px #FFF , 1898px 1776px #FFF , 1966px 731px #FFF , 764px 1879px #FFF , 555px 1582px #FFF , 1322px 1477px #FFF , 477px 856px #FFF , 1872px 321px #FFF , 1060px 1201px #FFF , 299px 1921px #FFF , 1165px 613px #FFF , 794px 1507px #FFF , 1070px 1254px #FFF , 1513px 1009px #FFF , 82px 767px #FFF , 1855px 1366px #FFF , 125px 1907px #FFF , 1487px 811px #FFF , 1367px 3px #FFF , 1402px 798px #FFF , 1415px 451px #FFF , 21px 125px #FFF , 1495px 252px #FFF , 58px 1278px #FFF , 1676px 761px #FFF , 1733px 953px #FFF , 456px 1861px #FFF , 1164px 48px #FFF , 114px 390px #FFF , 1161px 77px #FFF , 235px 1859px #FFF , 1709px 1306px #FFF , 533px 422px #FFF , 960px 1796px #FFF , 296px 1644px #FFF , 347px 1802px #FFF , 747px 1902px #FFF , 406px 1836px #FFF , 83px 13px #FFF , 969px 799px #FFF , 1270px 308px #FFF , 1712px 601px #FFF , 1224px 468px #FFF , 1073px 1887px #FFF , 221px 1998px #FFF , 1189px 562px #FFF , 1613px 1160px #FFF , 524px 1732px #FFF , 1462px 436px #FFF , 1721px 1173px #FFF , 766px 754px #FFF , 1464px 744px #FFF , 936px 1157px #FFF , 1126px 1056px #FFF , 1280px 877px #FFF , 1149px 1881px #FFF , 1137px 68px #FFF , 964px 1774px #FFF , 1604px 97px #FFF , 1561px 1036px #FFF , 1551px 1188px #FFF , 989px 1187px #FFF , 581px 1079px #FFF , 1278px 1069px #FFF , 1831px 1770px #FFF , 1764px 1462px #FFF , 1567px 1019px #FFF , 986px 555px #FFF , 174px 782px #FFF , 1837px 4px #FFF , 1466px 1847px #FFF , 648px 888px #FFF , 1144px 202px #FFF , 187px 1499px #FFF , 640px 607px #FFF , 1097px 182px #FFF , 419px 126px #FFF , 1349px 653px #FFF , 249px 983px #FFF , 783px 1817px #FFF , 954px 1845px #FFF , 478px 1273px #FFF , 499px 674px #FFF , 1177px 198px #FFF , 131px 399px #FFF , 584px 1339px #FFF , 535px 1141px #FFF , 1372px 960px #FFF , 230px 593px #FFF , 1896px 508px #FFF , 165px 778px #FFF , 343px 872px #FFF , 860px 1496px #FFF , 1363px 1887px #FFF , 918px 862px #FFF , 1483px 899px #FFF , 777px 573px #FFF , 1882px 1471px #FFF , 1032px 1023px #FFF , 177px 491px #FFF , 1870px 681px #FFF , 399px 1122px #FFF , 1910px 1010px #FFF , 1587px 547px #FFF , 1028px 1759px #FFF , 1667px 1309px #FFF , 1025px 1985px #FFF , 1297px 1395px #FFF , 464px 856px #FFF , 1779px 171px #FFF , 1426px 1989px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 184px 563px #FFF , 893px 1084px #FFF , 1702px 1221px #FFF , 1646px 250px #FFF , 1867px 904px #FFF , 1047px 1026px #FFF , 365px 633px #FFF , 1911px 1703px #FFF , 434px 195px #FFF , 529px 841px #FFF , 61px 302px #FFF , 1589px 584px #FFF , 1301px 1617px #FFF , 1485px 480px #FFF , 1019px 590px #FFF , 1438px 415px #FFF , 1994px 1144px #FFF , 1263px 798px #FFF , 1026px 27px #FFF , 1540px 1639px #FFF , 1414px 1391px #FFF , 747px 1281px #FFF , 1246px 1718px #FFF , 1385px 576px #FFF , 978px 1630px #FFF , 824px 1031px #FFF , 45px 1270px #FFF , 1648px 1539px #FFF , 445px 1368px #FFF , 1712px 992px #FFF , 482px 1053px #FFF , 83px 484px #FFF , 923px 1467px #FFF , 750px 1021px #FFF , 1018px 507px #FFF , 963px 1161px #FFF , 1942px 931px #FFF , 1018px 457px #FFF , 762px 276px #FFF , 1071px 1578px #FFF , 1203px 152px #FFF , 1963px 940px #FFF , 382px 349px #FFF , 283px 792px #FFF , 155px 1646px #FFF , 1376px 973px #FFF , 302px 91px #FFF , 1839px 1731px #FFF , 1384px 1725px #FFF , 1953px 1747px #FFF , 39px 1844px #FFF , 1467px 1240px #FFF , 1556px 143px #FFF , 979px 56px #FFF , 890px 1922px #FFF , 1156px 503px #FFF , 216px 1847px #FFF , 1219px 249px #FFF , 1414px 1831px #FFF , 377px 1448px #FFF , 1672px 1035px #FFF , 1151px 546px #FFF , 692px 1492px #FFF , 337px 1176px #FFF , 1743px 778px #FFF , 960px 765px #FFF , 65px 707px #FFF , 812px 1711px #FFF , 640px 1285px #FFF , 864px 94px #FFF , 1096px 1164px #FFF , 1955px 606px #FFF , 1837px 1282px #FFF , 1739px 1222px #FFF , 285px 607px #FFF , 794px 1041px #FFF , 1119px 1740px #FFF , 1070px 1273px #FFF , 1902px 1338px #FFF , 1192px 1766px #FFF , 463px 960px #FFF , 122px 1628px #FFF , 628px 577px #FFF , 1186px 757px #FFF , 340px 1901px #FFF , 1880px 416px #FFF , 1479px 737px #FFF , 1514px 616px #FFF , 72px 131px #FFF , 535px 1062px #FFF , 54px 1648px #FFF , 1595px 155px #FFF , 24px 1048px #FFF , 1342px 613px #FFF , 1089px 328px #FFF , 1110px 871px #FFF , 566px 1629px #FFF , 420px 1198px #FFF , 1917px 497px #FFF , 1450px 1736px #FFF , 761px 1639px #FFF , 1584px 1025px #FFF , 1818px 1303px #FFF , 1244px 403px #FFF , 1758px 611px #FFF , 447px 80px #FFF , 1138px 294px #FFF , 543px 696px #FFF , 567px 185px #FFF , 1978px 1678px #FFF , 1233px 1810px #FFF , 1021px 1199px #FFF , 391px 1925px #FFF , 173px 1806px #FFF , 569px 44px #FFF , 618px 1182px #FFF , 539px 1483px #FFF , 850px 288px #FFF , 1578px 914px #FFF , 1350px 260px #FFF , 1334px 1710px #FFF , 1510px 703px #FFF , 1982px 507px #FFF , 1936px 76px #FFF , 30px 1042px #FFF , 1893px 350px #FFF , 1604px 589px #FFF , 899px 1885px #FFF , 507px 418px #FFF , 851px 1170px #FFF , 651px 1170px #FFF , 567px 1876px #FFF , 355px 441px #FFF , 1896px 32px #FFF , 1796px 289px #FFF , 899px 759px #FFF , 435px 134px #FFF , 245px 1864px #FFF , 1004px 1478px #FFF , 651px 1815px #FFF , 1903px 1677px #FFF , 980px 147px #FFF , 804px 1826px #FFF , 796px 115px #FFF , 613px 525px #FFF , 741px 733px #FFF , 903px 1830px #FFF , 1170px 1257px #FFF , 1068px 1095px #FFF , 1471px 1653px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 184px 563px #FFF , 893px 1084px #FFF , 1702px 1221px #FFF , 1646px 250px #FFF , 1867px 904px #FFF , 1047px 1026px #FFF , 365px 633px #FFF , 1911px 1703px #FFF , 434px 195px #FFF , 529px 841px #FFF , 61px 302px #FFF , 1589px 584px #FFF , 1301px 1617px #FFF , 1485px 480px #FFF , 1019px 590px #FFF , 1438px 415px #FFF , 1994px 1144px #FFF , 1263px 798px #FFF , 1026px 27px #FFF , 1540px 1639px #FFF , 1414px 1391px #FFF , 747px 1281px #FFF , 1246px 1718px #FFF , 1385px 576px #FFF , 978px 1630px #FFF , 824px 1031px #FFF , 45px 1270px #FFF , 1648px 1539px #FFF , 445px 1368px #FFF , 1712px 992px #FFF , 482px 1053px #FFF , 83px 484px #FFF , 923px 1467px #FFF , 750px 1021px #FFF , 1018px 507px #FFF , 963px 1161px #FFF , 1942px 931px #FFF , 1018px 457px #FFF , 762px 276px #FFF , 1071px 1578px #FFF , 1203px 152px #FFF , 1963px 940px #FFF , 382px 349px #FFF , 283px 792px #FFF , 155px 1646px #FFF , 1376px 973px #FFF , 302px 91px #FFF , 1839px 1731px #FFF , 1384px 1725px #FFF , 1953px 1747px #FFF , 39px 1844px #FFF , 1467px 1240px #FFF , 1556px 143px #FFF , 979px 56px #FFF , 890px 1922px #FFF , 1156px 503px #FFF , 216px 1847px #FFF , 1219px 249px #FFF , 1414px 1831px #FFF , 377px 1448px #FFF , 1672px 1035px #FFF , 1151px 546px #FFF , 692px 1492px #FFF , 337px 1176px #FFF , 1743px 778px #FFF , 960px 765px #FFF , 65px 707px #FFF , 812px 1711px #FFF , 640px 1285px #FFF , 864px 94px #FFF , 1096px 1164px #FFF , 1955px 606px #FFF , 1837px 1282px #FFF , 1739px 1222px #FFF , 285px 607px #FFF , 794px 1041px #FFF , 1119px 1740px #FFF , 1070px 1273px #FFF , 1902px 1338px #FFF , 1192px 1766px #FFF , 463px 960px #FFF , 122px 1628px #FFF , 628px 577px #FFF , 1186px 757px #FFF , 340px 1901px #FFF , 1880px 416px #FFF , 1479px 737px #FFF , 1514px 616px #FFF , 72px 131px #FFF , 535px 1062px #FFF , 54px 1648px #FFF , 1595px 155px #FFF , 24px 1048px #FFF , 1342px 613px #FFF , 1089px 328px #FFF , 1110px 871px #FFF , 566px 1629px #FFF , 420px 1198px #FFF , 1917px 497px #FFF , 1450px 1736px #FFF , 761px 1639px #FFF , 1584px 1025px #FFF , 1818px 1303px #FFF , 1244px 403px #FFF , 1758px 611px #FFF , 447px 80px #FFF , 1138px 294px #FFF , 543px 696px #FFF , 567px 185px #FFF , 1978px 1678px #FFF , 1233px 1810px #FFF , 1021px 1199px #FFF , 391px 1925px #FFF , 173px 1806px #FFF , 569px 44px #FFF , 618px 1182px #FFF , 539px 1483px #FFF , 850px 288px #FFF , 1578px 914px #FFF , 1350px 260px #FFF , 1334px 1710px #FFF , 1510px 703px #FFF , 1982px 507px #FFF , 1936px 76px #FFF , 30px 1042px #FFF , 1893px 350px #FFF , 1604px 589px #FFF , 899px 1885px #FFF , 507px 418px #FFF , 851px 1170px #FFF , 651px 1170px #FFF , 567px 1876px #FFF , 355px 441px #FFF , 1896px 32px #FFF , 1796px 289px #FFF , 899px 759px #FFF , 435px 134px #FFF , 245px 1864px #FFF , 1004px 1478px #FFF , 651px 1815px #FFF , 1903px 1677px #FFF , 980px 147px #FFF , 804px 1826px #FFF , 796px 115px #FFF , 613px 525px #FFF , 741px 733px #FFF , 903px 1830px #FFF , 1170px 1257px #FFF , 1068px 1095px #FFF , 1471px 1653px #FFF;
}

.welcome-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  transition: 2s ease-in-out;
  z-index: 1000;
}
.welcome-section img {
  position: relative;
  height: 50%;
  margin-right: 100px;
}
.welcome-section.scroll-up {
  top: -150%;
}
.welcome-section .title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 40%;
}
.welcome-section .title-container #title {
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
}
.welcome-section .title-container #title span {
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.welcome-section .container-arrow {
  background-color: rgba(26, 26, 26, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  position: relative;
  border-radius: 15px;
  border: 2px solid #ff4d5a;
  animation: moveInBottom 0.7s 1s;
  animation-fill-mode: backwards;
  animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
  cursor: pointer;
}
.welcome-section .container-arrow:before, .welcome-section .container-arrow:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  border: 2px solid #ff4d5a;
  filter: blur(0);
  transform-origin: 50%;
  z-index: -1;
}
.welcome-section .container-arrow:hover {
  transform: translateY(-2px);
}
.welcome-section .container-arrow:hover:after, .welcome-section .container-arrow:hover:before {
  border-color: transparent;
  filter: blur(2px);
  transform: scaleX(1.3) scaleY(2.2);
  transition: 800ms transform ease, 1900ms blur ease, 700ms border-color ease;
  pointer-events: none;
}
.welcome-section .container-arrow:hover:after {
  transition-delay: 150ms;
}
.welcome-section .container-arrow:hover:active {
  transform: translateY(-1px);
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.welcome-section .container-arrow .go-paragraph {
  bottom: 80px;
  right: 50%;
  color: #ff4d5a;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  width: 100%;
  font-weight: 700;
  cursor: pointer;
  font-size: 18px;
  justify-content: center;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}
.welcome-section .container-arrow .go-paragraph svg {
  transform: rotate(270deg);
}
.welcome-section .container-arrow .go-paragraph svg path {
  fill: #ff4d5a;
}
.welcome-section .container-arrow .arrow {
  transform: rotate(225deg);
  border-bottom: 4px solid red;
  border-right: 4px solid red;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
@keyframes bounceArrow {
  from {
    transform: translateY(10px);
    opacity: 0.1;
  }
  to {
    transform: translateY(-5px);
    opacity: 1;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
.about-me-section {
  padding: 160px 80px 80px 80px;
}
.about-me-section .about-me-div {
  border-radius: 5px;
  width: 100%;
  padding: 15px 0;
  margin: 0 auto 60px auto;
  text-align: center;
  background: #c4c1c1;
}
.about-me-section .about-me-div h2 {
  letter-spacing: 2px;
  margin-bottom: 5px;
  font-size: 30px;
  text-transform: uppercase;
}
.about-me-section .about-me-div p {
  letter-spacing: 1px;
  color: #55555A;
  line-height: 1.7;
  font-size: 20px;
  width: 50%;
  margin: auto;
}
.about-me-section .about-me-div p strong {
  text-transform: capitalize;
  font-weight: 700;
  color: black;
}
.about-me-section .me-and-skills {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.about-me-section .me-and-skills .me-div {
  width: 45%;
}
.about-me-section .me-and-skills .me-div h3 {
  margin-bottom: 25px;
  font-size: 25px;
}
.about-me-section .me-and-skills .me-div p {
  letter-spacing: 1px;
  color: #55555A;
  line-height: 1.6;
  font-size: 20px;
}
.about-me-section .me-and-skills .me-div p strong {
  text-transform: capitalize;
  font-weight: 700;
  color: black;
}
.about-me-section .me-and-skills .me-div .btn-contact, .about-me-section .me-and-skills .me-div .btn-projects {
  margin-top: 35px;
  z-index: 5;
}
.about-me-section .me-and-skills .skills-div {
  width: 33%;
}
.about-me-section .me-and-skills .skills-div h3 {
  margin-bottom: 35px;
  font-size: 25px;
}
.about-me-section .me-and-skills .skills-div > div {
  margin-bottom: 30px;
}
.about-me-section .me-and-skills .skills-div div span {
  padding: 10px;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 5px;
  font-weight: 600;
  color: #666;
}

.btn-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsla(0, 0%, 0%, 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.btn-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(to left, hsl(259, 79%, 59%) 0%, hsl(259, 79%, 59%) 8%, hsl(259, 79%, 59%) 92%, hsl(259, 79%, 59%) 100%);
}

.btn-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: #7843E9;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

@media (min-width: 768px) {
  .btn-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}
.btn-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.btn-pushable:hover .btn-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.btn-pushable:active .btn-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.btn-pushable:hover .btn-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.btn-pushable:active .btn-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.btn-pushable:focus:not(:focus-visible) {
  outline: none;
}

.projects-section .projects-div {
  width: 100%;
  text-align: center;
}
.projects-section .projects-div h2 {
  letter-spacing: 2px;
  margin-bottom: 5px;
  font-size: 30px;
  text-transform: uppercase;
}

.header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  transition: 0.5s;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #274791;
  color: white;
  z-index: 99;
}
.header.scroll {
  box-shadow: 0 2px 3px rgba(255, 251, 251, 0.8);
  padding: 0 10px;
  height: 55px;
}
.header.scroll .social-network li a i {
  font-size: larger;
  transition: 0.2s;
}
.header.scroll .social-network li:visited {
  background: -webkit-linear-gradient(white, #b8dbff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header nav {
  width: 30%;
}
.header nav ul {
  display: flex;
  gap: 15px;
}
.header nav ul li {
  text-decoration: none;
  list-style: none;
  position: relative;
  padding-bottom: 5px;
  text-align: center;
}
.header nav ul li:hover a {
  font-size: 12px;
}
.header nav ul li:nth-child(1) {
  width: 70px;
}
.header nav ul li:nth-child(2) {
  width: 80px;
}
.header nav ul li:nth-child(3) {
  width: 110px;
}
.header nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  background: -webkit-linear-gradient(white, #4ba4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  transition: 0.2s;
}
.header nav ul li a:visited {
  color: white;
}
.header h2 {
  width: 40%;
  text-align: center;
  background: -webkit-linear-gradient(white, #b8dbff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .social-network {
  display: flex;
  justify-content: end;
  gap: 30px;
  width: 30%;
}
.header .social-network li {
  list-style: none;
}
.header .social-network li a {
  color: white;
}
.header .social-network li a i {
  font-size: x-large;
  transition: 0.2s;
  background: -webkit-linear-gradient(white, #b8dbff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .social-network li a:visited {
  color: white;
  background: -webkit-linear-gradient(white, #b8dbff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "lato", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #fafafa;
}

.h2-underline {
  height: 5px;
  width: 60px;
  background-color: #7843E9;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 35px;
}

/*# sourceMappingURL=app.css.map */
