@function multiple-box-shadow($n) {
  $value: "#{random(2000)}px #{random(2000)}px #FFF";
  @for $i from 2 through $n {
    $value: "#{$value} , #{random(2000)}px #{random(2000)}px #FFF";
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(800);
$shadows-medium: multiple-box-shadow(250);
$shadows-big: multiple-box-shadow(150);


#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

.welcome-section {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;


  img {
    position: relative;
    height: 50%;
    margin-right: 100px;
  }

  //display: none;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  left: 50%;
  width: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  transition: 2s ease-in-out;
  z-index: 1000;

  &.scroll-up {
    top: -150%;
  }

  .title-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 40%;

    #title {
      //position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      color: #FFF;
      text-align: center;
      font-family: 'lato', sans-serif;
      font-weight: 300;
      font-size: 50px;
      letter-spacing: 10px;
      margin-top: -60px;

      span {
        background: -webkit-linear-gradient(white, #38495a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }


  .container-arrow {
    background-color: rgba(26, 26, 26, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    position: relative;
    border-radius: 15px;
    border: 2px solid #ff4d5a;
    animation: moveInBottom 0.7s 1.0s;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
    //animation: bounceArrow 1.0s infinite;
    cursor: pointer;
    //scroll-behavior: smooth;


    &:before, &:after {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      border: 2px solid #ff4d5a;
      filter: blur(0);
      transform-origin: 50%;
      z-index: -1;
    }

    &:hover {
      transform: translateY(-2px);

      &:after, &:before {
        border-color: transparent;
        filter: blur(2px);
        transform: scaleX(1.3) scaleY(2.2);
        transition: 800ms transform ease, 1900ms blur ease, 700ms border-color ease;
        pointer-events: none
      }


      &:after {
        transition-delay: 150ms;
      }

      &:active {
        transform: translateY(-1px)
      }

    }


    @keyframes moveInBottom {
      0% {
        opacity: 0;
        transform: translateY(4rem)
      }

      100% {
        opacity: 1;
        transform: translateY(0)
      }
    }


    .go-paragraph {
      bottom: 80px;
      right: 50%;
      color: #ff4d5a;
      text-align: center;
      padding: 10px;
      //border: 2px solid #ff4d5a;
      border-radius: 15px;
      width: 100%;
      font-weight: 700;
      cursor: pointer;
      font-size: 18px;
      justify-content: center;

      display: flex;
      gap: 10px;
      flex-direction: row;
      align-items: center;

      svg {
        transform: rotate(270deg);

        path {
          fill: #ff4d5a; // or add the attribute fill to the path in html
        }
      }

    }

    .arrow {
      transform: rotate(225deg);
      border-bottom: 4px solid #FF0000FF;
      border-right: 4px solid #FF0000FF;
      height: 40px;
      width: 40px;
      cursor: pointer;
    }


  }


  @keyframes bounceArrow {
    from {
      transform: translateY(10px);
      opacity: 0.1;
    }
    to {
      transform: translateY(-5px);
      opacity: 1;

    }
  }
}


@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}

//to right, rgba(245,245,245,0.8), rgba(245,245,245,0.8)),
.about-me-section {

  //background: url(https://www.rammaheshwari.com/assets/svg/common-bg.svg);

  padding: 160px 80px 80px 80px;

  .about-me-div {
    border-radius: 5px;
    width: 100%;
    padding: 15px 0;
    margin: 0 auto 60px auto;
    text-align: center;
    background: #c4c1c1;

    h2 {
      letter-spacing: 2px;
      margin-bottom: 5px;
      font-size: 30px;
      text-transform: uppercase;
    }

    p {
      letter-spacing: 1px;
      color: #55555A;
      line-height: 1.7;
      font-size: 20px;
      width: 50%;
      margin: auto;


      strong {
        text-transform: capitalize;
        font-weight: 700;
        color: black;
      }


    }
  }

  .me-and-skills {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .me-div {
      width: 45%;


      h3 {
        margin-bottom: 25px;
        font-size: 25px;
      }

      p {
        letter-spacing: 1px;
        color: #55555A;
        line-height: 1.6;
        font-size: 20px;

        strong {
          text-transform: capitalize;
          font-weight: 700;
          color: black;
        }

      }

      .btn-contact, .btn-projects {
        margin-top: 35px;
        z-index: 5;
      }

    }

    .skills-div {
      width: 33%;

      h3 {
        margin-bottom: 35px;
        font-size: 25px;
      }

      > div {
        margin-bottom: 30px;
      }

      div span {
        padding: 10px;

        background: rgba(153, 153, 153, 0.2);
        border-radius: 5px;
        font-weight: 600;
        color: #666;
      }

    }


  }

}


.btn-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.btn-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
                  to left,
                  hsl(259, 79%, 59%) 0%,
                  hsl(259, 79%, 59%) 8%,
                  hsl(259, 79%, 59%) 92%,
                  hsl(259, 79%, 59%) 100%
  );
}

.btn-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: #7843E9;
  will-change: transform;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .btn-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.btn-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.btn-pushable:hover .btn-front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.btn-pushable:active .btn-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.btn-pushable:hover .btn-shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.btn-pushable:active .btn-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.btn-pushable:focus:not(:focus-visible) {
  outline: none;
}


// Project Section


.projects-section {

  .projects-div {

    width: 100%;
    text-align: center;

    h2 {
      letter-spacing: 2px;
      margin-bottom: 5px;
      font-size: 30px;
      text-transform: uppercase;
    }

  }

}
